<section class="success" id="about" style="padding-top:18%; padding-bottom:18%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
                <center>
                    <p> "The Bean Studio project was originally founded by myself in 2017 to pursue my own various interests and record them. The first "Bevo" project was inspired by the mascot "Bevo" from The University of Texas at Austin. I was daydreaming one day, and imagine my school mascot in many interesting places. "What if Bevo went to the beach" was the first thought that came up in my mind. The Bevo series turned out very successfully, and they were later printed in bumper sticker sheets. I did not sell the stickers. I gave them away to my friends."</p>
                </center>
        </div>
    </div>
</section>

