<section class="success" id="about" style="padding-top:18%; padding-bottom:18%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
                <center>
                    <p> "I started The Bean Studio project in 2017 to pursue my various areas of interest more actively. The first art project was inspired by the mascot "Bevo" from The University of Texas at Austin. I was daydreaming one day, and I thought that school mascots were bounded to represent athletic programs only. I began to imagine my school mascot(Bevo) going to different interesting places. I had a lot of fun working on the Bevo series. The artwork actually turned out very successfully, and later I decided to print the drawings on vinyl sheets. I gave the stickers to my friends, and they all loved them as much as I did."</p>
                    <span> Young Lee </span>
                </center>
        </div>

        <div class="text-center" style="padding-top:40px;">
          <a class="btn btn-outline btn-custom" href="https://drive.google.com/uc?export=download&id=1lb4USgZ4r5bSIOJoz8vpA8-41joK_DJL" target="_blank">
            <i class="fa fa-download mr-2"></i>
            Download Sample
          </a>
        </div>

    </div>
</section>

