<section id="contact" style="padding-top:13%; padding-bottom:5%"">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>ME</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-4">
                <p><strong>Name:</strong> Young Lee <br>
                    <strong>School:</strong> The University of Texas at Austin <br>
                    <strong>Major:</strong> Software Engineering <br>
                    <strong>Interest:</strong> Music, Percussion (Drums), Art, Travel<br>
                    <strong>Travel:</strong> <%= image_tag "freelancer/flags.jpg", class: "img-responsive", size:"333x333" %> 
                    <strong>Language:</strong> English, Korean, Chinese
                </p> 
            </div>




            <div class="col-lg-12 text-center" style="padding-top:30px;">
                <h4>Connect</h4>

                <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/ylee8993" class="btn-social btn-outline" target="_blank">
                                <i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/youngtothelee" class="btn-social btn-outline"target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ylee8993/" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
            </div>

        </div>
    </div>
</section>

